/dist
/src-tauri/target

/package-lock.json
/src-tauri/Cargo.lock

# Yarn Files
/node_modules/
/yarn.lock
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions